#wrapper{
    margin: auto;
    width: 970px;
    text-align: center;
    font-family: sans-serif, serif;
}

h2{
    color: white;
    margin: auto;
}

#red{
    background-color: red;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    padding: 50px;
}

#green{
    background-color: green;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    padding: 50px;
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

#resetShow{
    width: 100px;
    height: 25px;
}

#resetHide{
    display: none;
}
